h1, nav li, .button, .card-title{
  font-family: 'Markazi Text';
}

h2,p{
  font-family: "Karla";
}

h1{
  color:#F4CE14;
  font-size:  4em;
}
/*nav li a, .hero h2{
  color: #EDEFEE
}
*/
.header{
  background-color: black;
}
.card>p{
  color: #495E57
}

.card{
  background-color: #EDEFEE;
}

footer{
  background-color: #495E57;
}

#testimonials{
  background-color:#EDEFEE
}

li a{
  list-style-type: none;
  text-decoration: none;
}

.hero{
  background-color: #495E57;
}

.button{
  background-color: #3333;
}

p{
  font-size: 1em;
}