h1, nav li, .button, .card-title{
  font-family: 'Markazi Text';
}

h2,p{
  font-family: "Karla";
}

h1{
  color:#F4CE14;
  font-size:  4em;
}
/*nav li a, .hero h2{
  color: #EDEFEE
}
*/
.header{
  background-color: black;
}
.card-text{
  color: #495E57
}

.card{
  background-color: #EDEFEE;
}

footer{
  background-color: #495E57;
}

#testimonials{
  background-color:#EDEFEE;
}

li a{
  list-style-type: none;
  text-decoration: none;
}

.hero{
  background-color: #495E57;
  margin-bottom: 10%;
}

.button{
  background-color: #3333;
}

p{
  font-size: 1em;
}

#special-card-stack{
  justify-content: center;
}
#special-section{
  margin-left: "2%";
  margin-right: "2%";
}

.special{
  margin-bottom: 19%;
}

/*#booking-form{
background-color: #495E57;
padding: 3%;
width:90%;
margin-left: 5%;
border-radius: 16pt;
}*/

#booking-form{
  margin-top: 6%;
}

#booking-form input, #booking-form select{
  background-color: #EDEFEE;
}

#booking-form div{
  margin-bottom: 15%;
}

#booking-form label{
  color:#F4CE14
}

